<nav class="navbar">
    <div class="brand">Sync Groww</div>
    <ul class="nav-links">
        <li><a href="/userhome">User Home</a></li>
        <li><a href="/userorder">User Order</a></li>
        <li><a href="/userprofile">User Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/logoutall">Log Out from all Devices</a></li>
    </ul>
</nav>