body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.brand {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Style for the navigation links on hover */
.nav-links a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Optional: Add some styling to the text in the footer */
.footer p {
    margin: 0;
    font-size: 14px;
}

.container {
    background-color: #fff;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.redirect {
    font-size: 14px;
}

.redirect a {
    text-decoration: none;
    color: #4285f4;
    font-weight: bold;
}

.redirect a:hover {
    text-decoration: underline;
}

.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox label {
    margin-left: 5px;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: #4285f4;
}

.links a:hover {
    text-decoration: underline;
}
